    <h1>this is a title</h1>
<div>
    @{
        if (ViewBag.Uslov == true)
        {
            @ViewBag.Message
        }
        else
        {
            @ViewBag.Message2
        }
    }
</div>