@using PizzaShop.ViewModels
@model PizzaListViewModel

<div class="mt-3">
    <h3>Ovde se nalaze pizze koje ste vi napravili!</h3>
    <p>Ukoliko to jos uvek niste uradili, mozete uraditi <a asp-action="CustomPizza" asp-controller="Pizza">ovde.</a></p>
</div>

<div class="mt-5">
    <table class="table table-bordered mt-3">
        <tr style="background-color:#a593c2">
            <th>Ime pizze</th>
            <th>Sastojci</th>
            <th>Cena</th>
            <th></th>
        </tr>

        @foreach (var pizza in Model.Pizzas)
        {
            <tr class="align-middle"s style="background-color:#f8f9fa">
                <td>@pizza.Name</td>
                <td>@pizza.LongDescription</td>
                <td>@pizza.Price.ToString("c")</td>
                <td class="text-center"><a class="btn btn-primary" asp-action="AddToShoppingCart" asp-controller="ShoppingCart" asp-route-pizzaId="@pizza.Id">Poruci</a></td>
            </tr>
        }
    </table>
</div>