body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url('../images/pattern.png');
  background-repeat: repeat;
}

.bg-primary {
  background-color: #a593c2 !important;
}

/* kartice - cards */

.card-footer {
  background: transparent;
  border-top: 0px;
}

/* POSTAVKE ZA CAROUSEL
-------------------------------------------------- */

/* Carousel osnovna (bazična) klasa */
  /* Pozicioniranja naslova */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Deklarisanje visine zbog pozicioniranja slika (img elemenata) */
  .carousel-item {
    height: 40rem;
    max-width: 100vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
 
  .welcome-carousel-image1{
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
    background-image:url('../images/carousel1.jpg');
  }

  .welcome-carousel-image2{
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
    background-image:url('../images/carousel2.jpg');
  }

  .welcome-carousel-image3{
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.3);
    background-image:url('../images/carousel3.jpg');
  }

  /* Korpa za kupovinu - offcanvas */
.shopping-cart-offcanvas {
  width: 500px;
}

/* Postavke Jumbotron-a */

.jumbotron-veganske-pice {
  background: url('../images/products/nasaBasta.jpg') no-repeat fixed;
}

.jumbotron-sve-pice {
  background: url('../images/carousel3.jpg') no-repeat fixed;
}

.jumbotron-sa-mesom-pice {
  background: url('../images/products/domaca.jpg') no-repeat fixed;
}

.jumbotron-pice-bez-glutena {
  background: url('../images/products/zdravijeNeMoze.jpg') no-repeat fixed;
}

.jumbotron-other {
  background: url('../images/carousel3.jpg') no-repeat fixed;
}

.jumbotron-detail-kulenica {
  background: url('../images/products/kulenica.jpg') no-repeat fixed;
}

.jumbotron {
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.1);
  height: 40vh;
  background-size: cover;
}