@using PizzaShop.ViewModels;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@model UpdateUserViewModel

<h3 class="mt-5">Dobro dosao na svoj profil, @Model.Username</h3>

<div class="row gx-3">
    <div class="col-8">
        <form asp-controller="User" asp-action="ChangePassword" method="post" role="form">
    <p class="my-5">
        Za promenu lozinke molimo Vas unesite vas korisnicko ime, staru sifru i novu sifru.
    </p>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    @Html.HiddenFor(m => m.Id)
    <div class="col-6">
        <div class="row g-2">
            <div class="col-12">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control" disabled />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="CurrentPassword" class="form-label"></label>
                <input asp-for="CurrentPassword" type="password" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="NewPassword" class="form-label"></label>
                <input asp-for="NewPassword" type="password" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="col-12">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <div class="col-md-offset-2 col-md-5">
                    <input type="submit" class="btn btn-secondary" value="Promeni sifru" />
                </div>
            </div>
        </div>
    </div>
</form>
    </div>
    <div class="col-4">
        <div class="text-center d-grid mt-4">
            <a class="btn btn-secondary" asp-action="OrderHistory" asp-controller="User"><h4>Istorija porudzbina</h4></a>
        </div>
    </div>
</div>
