@using PizzaShop.ViewModels;

@model HomeViewModel

<partial name="_Carousel"/>

<nav aria-label="breadcrumb" class="my-3 ms-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Početna</li>
    </ol>
</nav>

<partial name="_History"/>

<div class="row pizzas-of-the-week">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var pizza in Model.PizzasOfTheWeek)
        {
            <partial name="_PizzaCard" model="pizza" />
        }
    </div>
</div>

@* <div class="container history">
    <h2 class="pb-4 mb-2 mt-5">Pice nedelje</h2>
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-4">
        <div class="col">
            <div class="card rounded mb-4 shadow-sm">
                <img class="card-img-top" src="images/products/srpska.jpg">
                <div class="card-body">
                    <h5 class="card-title">Srpska</h5>
                    <p class="card-text">Ukus tradicije na nov način!</p>
                </div>
                <div class="card-footer">
                    <a href="kulenica.html" class="btn btn-primary">Pogledajte detalje</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card rounded mb-4 shadow-sm">
                <img class="card-img-top" src="images/products/porodicniMiks.jpg">
                <div class="card-body">
                    <h5 class="card-title">Porodični Miks</h5>
                    <p class="card-text">Za svakog po nešto, dovoljno za sve!</p>
                </div>
                <div class="card-footer">
                    <a href="kulenica.html" class="btn btn-primary">Pogledajte detalje</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card rounded mb-4 shadow-sm">
                <img class="card-img-top" src="images/products/veganko.jpg">
                <div class="card-body">
                    <h5 class="card-title">Veganko</h5>
                    <p class="card-text">I ukus i zdravlje!</p>
                </div>
                <div class="card-footer">
                    <a href="kulenica.html" class="btn btn-primary">Pogledajte detalje</a>
                </div>
            </div>
        </div>

    </div>
</div> *@