
<nav aria-label="breadcrumb" class="my-3 ms-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Početna</li>
    </ol>
</nav>

<div class="row">
    <div class="col-8">
        <h1 class="mb-0 mt-5">Sada se možete pretplatiti na naše pice</h1>
        <span class="text-muted mt-0" style="font-size: 2.5rem">Neograničene pice.</span>
        <div class="col-2">
            <button type="button" class="btn btn-primary my-3">Više informacija</button>
        </div>
        <p class="mt-2">
            Obezbedite sebi izvanrednu kombinaciju ukusa koja donosi spoj tradicionalnih sastojaka koji oduševljavaju nepce.
            Istinski spoj srpske tradicije i italijanske picerije, koja zadovoljava apetite i izaziva oduševljenje svih koji ih probaju.
            Odaberite svoju kombinaciju bilo kulena, ajvara ili kajmaka i sve to na hrskavoj kori obećava jedinstvenu gastronomsku avanturu i pruža pravi domaćinski užitak.
        </p>
    </div>
    <div class="col-4">
        <img style="max-width: 100%" src="~/images/pravljenjePice.jpg" alt="Pravljenje pizze" />
    </div>
</div>

<div class="row mt-3 d-flex justify-content-between">
    <div class="card text-center col-4 p-0" style="max-width: 32%">
        <h5 class="card-header">Mesečno</h5>
        <div class="card-body">
            <span class="card-title my-3" style="font-size: 2.5rem; font-weight:600">3000<span class="text-muted" style="font-weight:300">/mesec</span></span>
            <p class="card-text mt-3 mb-1">2 pice uključene</p>
            <p class="card-text my-1">Poseta našoj pekari</p>
            <p class="card-text my-1">Upoznajte se i družite se Andrejom</p>
            <p class="card-text mt-1 mb-3">Napravite sopstvenu picu</p>
            <a href="#" class="btn btn-white btn-outline-primary text-primary col-12">Pretplati se sada</a>
        </div>
    </div>

    <div class="card text-center col-4 p-0" style="max-width: 32%">
        <h5 class="card-header">Nedeljno</h5>
        <div class="card-body">
            <span class="card-title my-3" style="font-size: 2.5rem; font-weight:600">5000<span class="text-muted" style="font-weight:300">/mesec</span></span>
            <p class="card-text mt-3 mb-1">4 pice uključene</p>
            <p class="card-text my-1">Poseta našoj pekari</p>
            <p class="card-text my-1">Upoznajte se i družite se Andrejom</p>
            <p class="card-text mt-1 mb-3">Napravite sopstvenu picu</p>
            <a href="#" class="btn btn-primary col-12">Pretplati se sada</a>
        </div>
    </div>

    <div class="card text-center col-4 border-primary p-0" style="max-width: 32%">
        <h5 class="card-header bg-primary text-white">Za celu porodicu</h5>
        <div class="card-body">
            <span class="card-title my-3" style="font-size: 2.5rem; font-weight:600">7000<span class="text-muted" style="font-weight:300">/mesec</span></span>
            <p class="card-text mt-3 mb-1">6 pica uključeno</p>
            <p class="card-text my-1">Poseta našoj pekari</p>
            <p class="card-text my-1">Upoznajte se i družite se Andrejom</p>
            <p class="card-text mt-1 mb-3">Napravite sopstvenu picu</p>
            <a href="#" class="btn btn-primary col-12">Pretplati se sada</a>
        </div>
    </div>


</div>