<div>
    <a asp-action="Production" asp-controller="Pizza">strana ne postoji</a>
    <a asp-action="TestAction" asp-controller="Home" asp-route-id="1">Custom greska</a>
    <a asp-action="TestAction" asp-controller="Home" asp-route-id="2">Custom greska 500</a>
</div>