<div id="welcomeCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#welcomeCarousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Welcome 1"></button>
        <button type="button" data-bs-target="#welcomeCarousel" data-bs-slide-to="1"
                aria-label="Welcome 2"></button>
        <button type="button" data-bs-target="#welcomeCarousel" data-bs-slide-to="2"
                aria-label="Welcome 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item welcome-carousel-image1 active">
            <div class="carousel-caption">
                <h1>Dobrodošli u IFS piceriju</h1>
                <p>Ovde "žive" najbolje pice na internetu.</p>
            </div>
        </div>
        <div class="carousel-item welcome-carousel-image2">
            <div class="carousel-caption text-start">
                <h1>Otkrijte našu pica pretplatu</h1>
                <p>Naše ukusne pice stižu na vaša vrata. Svakodnevno.</p>
                <p><a class="btn btn-lg btn-primary" href="pretplata.html" role="button">Prijavite se još danas</a></p>
            </div>
        </div>
        <div class="carousel-item welcome-carousel-image3">
            <div class="carousel-caption text-end">
                <h1>Istražite sve ukuse.</h1>
                <p>Pica je pogodna za svaku priliku. Uživajte u našim veganskim opcijama.</p>
                <p><a class="btn btn-lg btn-primary" href="veganske.html" role="button">Veganske pice</a></p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#welcomeCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Prethodna</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#welcomeCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Sledeća</span>
    </button>
</div>