<div class="container history">
    <div class="row">
        <div class="col-lg-8">
            <h2 class="pb-4 mb-4 fst-italic">
                Naša priča
            </h2>
            <p>
                Mnogo godina Andreja je kod kuće pravio naujukusnije pice. 2020. godine u malom gradu u Srbiji
                otvorio je svoju prvu radnju, <b>IFS piceriju</b> koja je postala pravi hit među ljubiteljima pice širom zemlje.
                Ljudi su se zaljubili u njene izvanredne ukuse, domaću proizvodnju, autentičnost
                i tradiciju koju je picerija negovala... <i>Nije mnogo prošlo i picerija je postigla veliki uspeh.</i>
                <br>Već 2022. godine, ova picerija je dostizala neverovatne brojke - prodavali su 100 pica svakog dana.
                Velika potražnja za njihovim picama navela je vlasnika da shvati da ima nešto posebno
                i da treba pružiti svoje ukusne specijalitete i širem auditorijumu.
                Zato je u narednom periodu odlučio da otvori svoju web stranicu kako bi svima omogućio da osete ukuse iz Srbije,
                bez obzira na to gde se nalaze. Na njegovoj web stranici, posetioci mogu pregledati širok izbor pica i odabrati svoju omiljenu kombinaciju ukusa.

                Pored klasičnih italijanskih pizza, ova picerija je postala poznata i po svojim jedinstvenim srpskim specijalitetima.
                Nudili su pice sa domaćim kulenom, ajvarom ili kajmakom, koje su osvojile srca mnogih gurmana.

                Zahvaljujući visokokvalitetnim sastojcima i pažljivo pripremljenim picama, ova picerija je stekla lojalnu bazu mušterija ne samo u Srbiji,
                već i u drugim zemljama širom sveta. Njihov uspeh je dokazao da se tradicionalni recepti i kvalitet mogu spojiti sa modernim trendovima
                i pružiti zadovoljstvo nepcima ljudi širom sveta.
            </p>
            <p>
                Ova picerija je postala sinonim za autentičnu srpsku i italijansku hranu, te se njihov brend širi i danas.
                Njihova priča je primer kako jedna mala picerija može postati veliki hit zahvaljujući strasti, kvalitetu i predanosti svojim klijentima.
            </p>
        </div>

        <aside class="col-lg-4">
            <div class="p-4 mb-3 mt-2 bg-light rounded">
                <h4>Od Andreje za vas</h4>
                <p class="mb-0 fst-italic">
                    Ovi recepti za testo su u mojoj porodici već generacijama. A ostalo je spremano srcem samo za vas.
                    Nadam se da uživate u našim picama! -
                    Andreja
                </p>
            </div>

            <div class="p-4 mb-3 bg-secondary rounded">
                <h4 class="text-white">Kontaktirajte nas</h4>
                <p class="mb-0 text-white rfs-text">Ukoliko imate neka pitanj pišite nam na info@ifspicerija.com</p>
            </div>

        </aside>
    </div>
</div>