<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IFS picerija</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="~/css/bootstrap-override.css" rel="stylesheet">

    <link rel="stylesheet" href="~/css/custom.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="~/images/pizzaLogo.png" width="30" height="30" class="d-inline-block align-top"
                         alt="IFS Picerija Logo">
                    IFS picerija
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item ">
                            <a class="nav-link active" href="#">Početna</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="nav-dropdown" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Pice
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="nav-dropdown">
                                <li><a class="dropdown-item" href="~/pizza/list?categoryId=1">Pice sa mesom</a></li>
                                <li><a class="dropdown-item" href="~/pizza/list?categoryId=2">Veganske pice</a></li>
                                <li><a class="dropdown-item" href="~/pizza/list?categoryId=3">Pice bez glutena</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="~/pizza/list">Sve pice</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link " asp-controller="home" asp-action="pretplata">
                                Pretplata
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="kontakt.html">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - PizzaShop - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
